html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: lightcyan;
}

.container {
    margin-top: 56px;
}

.avatar-container {
    height: 100%; 
    width: 100%; 
    padding: 0 16px; 
}

.avatar-container > .avatar {
    font-size: 3.0rem;
}

.card-footer > p {
    margin: 0;
}